<div class="col-8 offset-2 text-center">
  <h2><%= @piece.game.name %></h2>
</div>

<br />

<div class="row">
  <div class="col-lg-3 text-center">
    <h4>
      <%= @piece.game.get_player_one %>      
    </h4>
    <hr />
  </div>
  <div class="col-lg-6">
    <%# I switched around the x and y variables to make it more logical %> 
    <%= render :partial => "games/board", :locals => { :the_piece => @piece, :the_game => @piece.game } %>
  </div>
  <div class="col-lg-3 text-center">
    <h4>
      <%= @piece.game.get_player_two %>    
    </h4>
    <hr />
  </div>
</div>