<div class="col-8 offset-2 text-center">
  <h2><%= @game.name %></h2>
</div>

<br />

<div class="row">
  <div class="player-one col-lg text-center">
    <%= render partial: 'player_one' %>
  </div>
  <div class="game-board col-lg-auto">
    <%= render partial: 'board' %>
  </div>
  <div class="player-two col-lg text-center">
    <%= render partial: 'player_two' %>
  </div>
</div>

<script type='text/javascript'>
  function init_draggables_and_droppables() { 
      $('.piece').draggable({
        containment: '.gameboard',
        snap: '.tile',
        cursor: 'crosshair',
        scroll: false
      });

      $('.tile').droppable({
        drop: function( event, ui ) {
          piece_id = ui.draggable.data('piece-id')
          x_position = $(this).data('x-coord')
          y_position = $(this).data('y-coord')
          $.ajax({
            url: `/pieces/${piece_id}?x_position=${x_position}&y_position=${y_position}`,
            type: 'PUT'
          });
        }
      });
      $('.draw').click(function( event ) {
        var game = $(this).data('id');
        $.ajax({
          url: `/games/${game}/draw`,
          type: 'GET'
        });
      });
    }
  
  $(function() {
    init_draggables_and_droppables();
  });
</script>
