@import "bootstrap";

@media only screen and (max-width: 991px) {
  .gameboard {
    margin-left: auto;
    margin-right: auto;
  }
}

body {
  background: image_url('hero6.jpg');
  background-position: center;
  height: 100vh;
}

.hero {
  background: image_url('hero5.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  box-shadow: 0px 3px 8px #2a2a2a;
}

h1, h2, h3, h4 {
  color: #F4FAF9;
  font-family: 'Pirata One', cursive;
}

.navbar-inverse.bg-inverse {
  font-family: 'Pirata One', cursive;
  box-shadow: 0px 1px 3px #2a2a2a;
  color: #F4FAF9;
  font-size: 20px;
  
}

.navbar-inverse .navbar-brand {
  color: #F4FAF9;
  font-size: 28px;
}

.bg-inverse {
  background-color: #804609;
}


.list-group-item {
  background: image_url('chest.jpg')no-repeat center center;
  background-size: center;
  background-position: center

  
}
.list-group-item a {
  color: #F4FAF9;
}
.list-group-item a:hover {
  text-decoration: none;
  color: #F4FAF9;
}

.white {
  background-color: #f7f3da;
  width: 5vw;
  height: 5vw;
}
.white a:hover {
  text-decoration: none;
}

.black {
  background-color: #0902c9;
  width: 5vw;
  height: 5vw;
}

.black a:hover {
  text-decoration: none;
}

.piece {
  height: 100%;
  width: 100%;
}

.piece2 {
  height: 100%;
  width: 100%;
}

hr {
  width: 100%;
  border: 0;
  height: 3px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), black, rgba(0, 0, 0, 0));
}


.surrendered {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(240, 240, 245, 0.5);
}

.game-state-message {
  color: red;
  line-height: 5px;
  margin: 0;
  padding: 0;
}

.captured {
  width: 4vw;
  height: 4vw;
}

.deliver-message {
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  margin: 5% auto;
  width: 25%;
  text-align: center;
}

.player-one {
  margin-left: 10px;
  margin-right: 10px;
}

.player-two {
  margin-left: 10px;
  margin-right: 10px;
}

.btn-secondary {
  margin: 5px;
}

.your-turn {
  background-color: green;
}

.not-your-turn {
  background-color: grey;  
}
