@import "bootstrap";

.red {
  color: red;
  font-size: 3vw;
}

.blue {
  color: blue;
  font-size: 3vw;
}

.green {
  color: #34eb40;
  font-size: 3vw;
}

.white {
  width: 5vw;
  height: 5vw;
}
.white a:hover {
  text-decoration: none;
}

.black {
  background-color: black;
  width: 5vw;
  height: 5vw;
}

.black a:hover {
  text-decoration: none;
}

.purple {
  background-color: purple;
  border: 1px solid purple;
  width: 5vw;
  height: 5vw;
}

hr {
  width: 100%;
  border: 0;
  height: 3px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), black, rgba(0, 0, 0, 0));
}

.disappear {
  opacity: 0;
  width: 5vw;
  height: 5vw;
}

.disappear:hover {
  opacity: 1;
  background-color: green;
}

.move_on_top_of_transparent_box {
  position: relative;
  margin-top: -5vw;
}