@import "bootstrap";

.red {
  color: red;
}

.blue {
  color: blue;
}

.green {
  color: #34eb40;
}

.white {
  border: 1px solid black;
  width: 5vw;
  height: 5vw;
}
.white a:hover {
  text-decoration: none;
}

.black a:hover {
  text-decoration: none;
}

.black {
  background-color: black;
  border: 1px solid black;
  width: 5vw;
  height: 5vw;
}

.purple {
  background-color: purple;
  border: 1px solid purple;
  width: 5vw;
  height: 5vw;
}

hr {
  width: 100%;
  border: 0;
  height: 3px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), black, rgba(0, 0, 0, 0));
}